{% extends "flashboard/scoreboard/base.html" %}
{% load i18n %}
{% load common %}

{% block page_title %}{{ block.super }} – {{ competition }} – {{ season }}{% endblock %}

{% block content %}
	{% trans "TBA" as tba context "abbreviation: to be advised" %}
	<div class="container-fluid">
		<div id="div_{{ division.pk }}">
			<div class="page-header">
				<h1>{{ division.title }} <small class="hidden-xs">{{ competition.short_title|default:competition.title }} {{ season.title }}</small></h1>
			</div>

			<div class="row">
				<div class="col-md-6 col-lg-6 col-md-push-6 col-lg-push-6">
					{% if division.stages.with_ladder.exists %}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Ladders</h3>
							</div>
							{% if division.stages.with_ladder.count > 1 %}
							<div class="panel-body">
								<ul class="nav nav-pills" role="tablist">
									{% for g in division.stages.with_ladder %}
										<li role="presentation"{% if forloop.last %} class="active"{% endif %}><a href="#stage_{{ g.pk }}" role="tab" data-toggle="tab">{{ g }}</a></li>
									{% endfor %}
								</ul>
							</div>
							{% endif %}

							<div class="tab-content">
							{% for g in division.stages.with_ladder reversed %}
								<div role="tabpanel" class="tab-pane{% if forloop.first %} active{% endif %}" id="stage_{{ g.pk }}">
									<table class="table table-striped">
										{% for p in g.pools.all %}
											<thead>
												<tr>
													<th class="team">{{ p.short_title|default:p.title }}</th>
													<th class="hidden-xs">P</th>
													<th class="hidden-xs">W</th>
													<th class="hidden-xs">L</th>
													<th class="hidden-xs">D</th>
													<th>+</th>
													<th>-</th>
													<th>+/-</th>
													<th class="percentage">%</th>
													<th>Pts</th>
												</tr>
											</thead>
											<tbody>
												{% for l in p.ladder_summary.all %}
													<tr>
														<td>{{ l.team.short_title }}</td>
														<td class="hidden-xs">{{ l.played }}</td>
														<td class="hidden-xs">{{ l.win }}</td>
														<td class="hidden-xs">{{ l.loss }}</td>
														<td class="hidden-xs">{{ l.draw }}</td>
														<td>{{ l.score_for }}</td>
														<td>{{ l.score_against }}</td>
														<td>{{ l.difference|stringformat:"g" }}</td>
														<td class="percentage">{{ l.percentage }}</td>
														<td>{{ l.points|stringformat:"g" }}</td>
													</tr>
												{% empty %}
													<tr>
														<td colspan="10"><em>Awaiting results &hellip;</em></td>
													</tr>
												{% endfor %}
											</tbody>
										{% empty %}
											<thead>
												<tr>
													<th class="team">Team</th>
													<th class="hidden-xs">P</th>
													<th class="hidden-xs">W</th>
													<th class="hidden-xs">L</th>
													<th class="hidden-xs">D</th>
													<th>+</th>
													<th>-</th>
													<th>+/-</th>
													<th class="percentage">%</th>
													<th>Pts</th>
												</tr>
											</thead>
											<tbody>
												{% for l in g.ladder_summary.all %}
													<tr>
														<td class="flag big {{ l.team.club.abbreviation }}">{{ l.team.short_title }}</td>
														<td class="hidden-xs">{{ l.played }}</td>
														<td class="hidden-xs">{{ l.win }}</td>
														<td class="hidden-xs">{{ l.loss }}</td>
														<td class="hidden-xs">{{ l.draw }}</td>
														<td>{{ l.score_for }}</td>
														<td>{{ l.score_against }}</td>
														<td>{{ l.difference|stringformat:"g" }}</td>
														<td class="percentage">{{ l.percentage }}</td>
														<td>{{ l.points|stringformat:"g" }}</td>
													</tr>
												{% empty %}
													<tr>
														<td colspan="10"><em>Awaiting results &hellip;</em></td>
													</tr>
												{% endfor %}
											</tbody>
										{% endfor %}
									</table>
								</div>
							{% endfor %}
						</div>
						</div>
					{% endif %}
				</div>

				<div class="col-md-6 col-lg-6 col-md-pull-6 col-lg-pull-6">
					{% if results %}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Latest Results</h3>
							</div>
							{% regroup results by round as timeslots %}
							<table class="table table-striped">
								<tbody>
									{% for group in timeslots reversed %}
										{% for r in group.list %}
											<tr>
												<td>{% if r.label %}{{ r.label }}{% else %}R{{ r.round }}{% endif %}</td>
												<td class="hidden-xs">{{ r.datetime|timesince }}</td>
												<td class="flag big {{ r.home_team.club.abbreviation }}">{{ r.home_team.short_title }}</td>
												<td class="score">{{ r.home_team_score|default_if_none:"-" }}</td>
												<td class="flag big {{ r.away_team.club.abbreviation }}">{{ r.away_team.short_title }}</td>
												<td class="score">{{ r.away_team_score|default_if_none:"-" }}</td>
											</tr>
										{% endfor %}
									{% empty %}
										<tr>
											<td><em>Awaiting results &hellip;</em></td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<div class="panel-footer">
								Shows the last two matches for all teams in this division.
							</div>
						</div>
					{% endif %}

					{% if upcoming %}
						<div class="panel panel-default">
							<div class="panel-heading">
								<h3 class="panel-title">Upcoming Fixtures</h3>
							</div>
							<table class="table table-striped">
								<tbody>
									{% for r in upcoming %}
										<tr>
											<td>{{ r.datetime|timeuntil }}</td>
											{% if r.home_team %}
												<td class="flag big {{ r.get_home_team.club.abbreviation }}">{{ r.get_home_team.short_title }}</td>
											{% else %}
												<td class="flag big">{{ tba }}</td>
											{% endif %}
											{% if r.away_team %}
												<td class="flag big {{ r.get_away_team.club.abbreviation }}">{{ r.get_away_team.short_title }}</td>
											{% else %}
												<td class="flag big">{{ tba }}</td>
											{% endif %}
											<td>{{ r.play_at.abbreviation }}</td>
										</tr>
									{% empty %}
										<tr>
											<td><em>No more fixtures.</em></td>
										</tr>
									{% endfor %}
								</tbody>
							</table>
							<div class="panel-footer">
								Shows the next match for all teams in this division, spanning byes.
							</div>
						</div>
					{% endif %}
				</div>
			</div>
		</div>
	</div>
{% endblock %}
