{% extends "flashboard/scoreboard/base.html" %}

{% block page_title %}{{ block.super }} – {{ competition.title }}, {{ season.title }}{% endblock %}

{% block content %}
	<div class="container-fluid">
		<div class="page-header">
			<h1>{{ competition.short_title|default:competition.title }} <small>{{ season.title }}</small></h1>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Divisions</h3>
			</div>
			{% if application.kwargs.delay %}
				<div class="panel-body">
					Choose one of the divisions below to start the scoreboard rotation.
				</div>
			{% endif %}
			<div class="list-group">
				{% for division in season.divisions.all %}
					<a class="list-group-item" href="{% url 'scoreboard:division' competition=competition.slug season=season.slug division=division.slug %}">{{ division.title }}</a>
				{% endfor %}
			</div>
			{% if application.kwargs.delay %}
				<div class="panel-footer">
					The divisions will rotate every {{ application.kwargs.delay }} seconds.
				</div>
			{% endif %}
		</div>
	</div>
{% endblock %}
